
@foreach (var product in Products)
{
    <div class="card w-25">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>            
            <blockquote class="card-text">@product.Price  kr @if(product.PLU == 'C') {<span> /Kg*</span>} </blockquote>
            @if (DisplayBuyButton)
            {                
                <span>
                Quantity:
                <input @bind="Quantity" />
                <button class="btn btn-primary" type="button" @onclick="() => AddToCart(product, Quantity)">Add</button>
                </span>
            }
            else
            {
                <blockquote class="card-text"> Quantity @product.Quantity Price @product.TotalPrice</blockquote>                
            }
        </div>
    </div>
}